@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid salmon */
}

@layer base {
  @font-face {
    font-family: "Chaney";
    src: local("Chaney"),
      url("../public/assets/fonts/chaney/CHANEY-Regular.otf") format(opentype);
  }
}
@layer base {
  @font-face {
    font-family: "Chaney-wide";
    src: local("Chaney-wide"),
      url("../public/assets/fonts/chaney/CHANEY-Extended.otf") format(opentype);
  }
}
@layer base {
  @font-face {
    font-family: "Heebo";
    src: local("Heebo"),
      url("../public/assets/fonts/Heebo-VariableFont_wght.ttf") format(truetype);
  }
}
/*TYPE*/

p, li {
  color: white;
  @apply text-20 sm:text-base 2xl:text-20 4xl:text-24;
}

.lang-link {
    @apply text-20 sm:text-base 2xl:text-20 4xl:text-24;
}

/*HEIGHTS*/

.section-props {
  min-height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
/*MARGINS*/
.standard_margin {
  @apply m-6 sm:my-6 sm:mx-8 md:my-8 md:mx-14 lg:my-12 lg:mx-24 xl:mx-44 2xl:mx-72;
}
.standard_margin-xl {
  @apply m-6 sm:my-6 sm:mx-12 md:my-12 md:mx-32 lg:my-24 lg:mx-40 xl:mx-72 2xl:mx-96;
}

/* MÁRGENES PARA CONTENEDORES CON IMÁGENES DE FONDO*/
/* margen estandar pero solo en eje x (para elementos que encuentran en otros contenedores) */
.standard_margin-x {
  @apply mx-6 sm:mx-8 md:mx-14 lg:mx-24 xl:mx-44 2xl:mx-72;
}
.standard_margin-xl-x {
  @apply m-6 sm:mx-12 md:mx-32 lg:mx-40 xl:mx-72 2xl:mx-96;
}
/* margen estandar pero solo en eje y (para elementos contenedores con otros elementos con margen dentro) */
.standard_margin-y {
  @apply my-6 sm:my-6 md:my-8 lg:my-12 xl:my-44 2xl:my-72;
}

/*PADDINGS*/
.standard_padding {
  @apply px-4 py-6 sm:py-6 sm:px-8 md:py-8 md:px-14 lg:py-12 lg:px-24 xl:px-44 2xl:px-72;
}
.padding_home {
  @apply px-4 sm:p-12 md:px-20 lg:px-24 xl:px-32 2xl:px-48 py-6 sm:py-6 md:py-8 lg:py-12;
}
.narrow_padding {
  @apply p-6 sm:py-6 sm:px-8 md:py-8 md:px-14 lg:py-10;
}
.standard_padding-y {
  @apply py-6 sm:py-6 md:py-8 lg:py-12;
}
.padding_card_highlight {
  @apply p-4 lg:p-6;
}

/*GAPS*/
/* Esto no se puede incluir en una clase grid y que ya tenga configurada la rejilla también????????? */
.gap_text {
  @apply gap-0 sm:gap-2 md:gap-4;
}
.gap_div {
  @apply gap-2 sm:gap-3 lg:gap-4 xl:gap-6;
}
.gap_grid {
  @apply gap-3 sm:gap-4 md:gap-5 xl:gap-6;
}
/*esta clase es importante, porque los gaps con el responsive
no son iguales, ni van in crecendo, porque la estructura
del filter cambia de bloque a inline*/
.gap_filter {
  @apply gap-0 md:gap-5 xl:gap-6;
}
.gap_grid-r {
  @apply gap-x-4 sm:gap-x-6 lg:gap-x-8 xl:gap-x-10;
}

/* DIVIDERS */
.divider_auto {
  @apply h-full;
}

main {
  min-height: 85dvh;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* NAVEGADOR ITEMS*/
.item-menu::before {
  content: attr(data-label);
  font-weight: bold;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: block;
}
/*ENVIRONMENTAL IMPACT PAGE*/
.environmental-impact {
  /* guiones break words */
  p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

.highlight-green {
  background: #29453c;
  background: radial-gradient(
    circle,
    rgba(41, 69, 60, 1) 32%,
    rgba(52, 107, 91, 1) 90%
  );
  p,
  h4,
  span {
    @apply !text-accent-200;
  }
}
.highlight-blue {
  background: radial-gradient(
    185.61% 103.2% at 79.64% 93.15%,
    #272f35 31.73%,
    #495860 100%
  );
  p,
  h4,
  span {
    @apply !text-SGblue-200;
  }
}
.highlight-neonGreen {
  background: #01e401;
  background: linear-gradient(
    145deg,
    rgba(1, 228, 1, 1) 14%,
    rgba(174, 226, 210, 1) 71%
  );
  p,
  h4,
  span {
    @apply !text-black;
  }
  p {
    font-weight: bold;
  }
}
.highlight-outline {
  @apply border border-white;
  background: transparent;
  p,
  h4,
  span {
    @apply !text-white;
  }
}

strong {
  @apply font-bold;
  color: #01e401;
}

/* a {
  @apply underline;
} */
